## range 함수
range(시작숫자, 끝숫자, 증가값)   

증가값 사용하지 않으면 1씩 증가함

In [1]:
var = range(1,11)
# 나는 결과값을 보고싶은데 범위밖에 안나옴
var

range(1, 11)

In [2]:
# range의 범위를 list로 바꿔서 출력
# python에서 list로 감싸는 게 매우매우 중요

list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# 짝수만 가져오기
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [4]:
list(range(10,-10,-2))

[10, 8, 6, 4, 2, 0, -2, -4, -6, -8]

In [7]:
# 증가값 말도 안되는 것 주었어도 오류 안 나오고 비어있는 결과값만 출력됨
# 그러니까 단계별로 계속 출력해보자
list(range(0,10,-2))

[]

In [8]:
# range자체가 배열이기 때문 (하나씩 빼는 건 가능, 여러 개 빼는 건 range로 불가능 - list 사용하기)
var[9]

10

In [9]:
# list로 바꿔서 선언하기 전까지는 range 타입임
type(var)

range

## for문에 range함수 사용하기

In [10]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [12]:
# 하나 있는 경우 0번부터 5번 전까지의 범위라는 의미임
for i in range(5):
    print(i)

0
1
2
3
4

In [13]:
# 1부터 10까지의 수 중 홀수만 출력하기
# 데이터를 홀수만 줘버리고 출력에는 아무것도 안하는 게 좋음! (python 에서는 range 적극 활용하자!)
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [18]:
# 구구단 9단 출력
j = 9
for i in range(1,10):
    # %(j*i)를 받아와서 '%2d' 에 넣는다
    print(j, 'X', i, '=', '%2d'%(j*i))

9 X 1 =  9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [20]:
# end는 기본적으로 \n 이 들어가있음!
print('aaa', end = ' ')
print('bbb')

aaa bbb

In [33]:
# 구구단 결과만 출력하기
for i in range(2,10):
    print()
    for j in range(1,10):
        print('%2d'%(i * j), end = ' ')

 2  4  6  8 10 12 14 16 18
 3  6  9 12 15 18 21 24 27
 4  8 12 16 20 24 28 32 36
 5 10 15 20 25 30 35 40 45
 6 12 18 24 30 36 42 48 54
 7 14 21 28 35 42 49 56 63
 8 16 24 32 40 48 56 64 72
 9 18 27 36 45 54 63 72 81

## for문에 list사용하기

In [35]:
test_list = ['one', 'two', 'three']
print(test_list)

for i in test_list:
    print(i)

['one', 'two', 'three']
one
two
three

In [36]:
# 평균 구하기
scores = [78, 85, 95, 65]

total = 0
# for 다음 변수명은 단수로 많이 사용
for score in scores:
    total += score
    
print(total / len(scores))

80.75

## for문에 Tuple 사용하기

In [37]:
var = [(1,2), (3,4), (5,6)]

for first, last in var:
    print(first, ":" , last)

1 : 2
3 : 4
5 : 6

In [38]:
sum1 = 0
for first, last in var:
    sum1 += first + last
    
print(sum1)

21

총 5명의 학생이 시험을 보았는데, 시험점수가 60점을 넘으면 합격이고,   
그렇지 않으면 불합격이다.   
합격, 불합격 결과 보여주기

In [45]:
scores = [90, 25, 67, 45, 80]

for number in range(len(scores)):
    if scores[number] >= 60:
        print(number+1, '의 학생은 합격 입니다.')
    else:
        print(number+1, '의 학생은 불합격 입니다.')

1 의 학생은 합격 입니다.
2 의 학생은 불합격 입니다.
3 의 학생은 합격 입니다.
4 의 학생은 불합격 입니다.
5 의 학생은 합격 입니다.

In [47]:
scores = [90, 25, 67, 45, 80]

for number in range(len(scores)):
    if scores[number] >= 60:
        print('%d의 학생은 합격 입니다.' %(number+1))
    else:
        print('%d의 학생은 불합격 입니다.' %(number+1))

1의 학생은 합격 입니다.
2의 학생은 불합격 입니다.
3의 학생은 합격 입니다.
4의 학생은 불합격 입니다.
5의 학생은 합격 입니다.

In [53]:
scores = [90, 25, 67, 45, 80]
number = 1
for score in scores:
#    print(score)
    if score >= 60:
        print('%d의 학생은 합격 입니다.' %(number))
        number += 1
    else:
        print('%d의 학생은 불합격 입니다.' %(number))
        number += 1

1의 학생은 합격 입니다.
2의 학생은 불합격 입니다.
3의 학생은 합격 입니다.
4의 학생은 불합격 입니다.
5의 학생은 합격 입니다.

In [74]:
scores = [90, 25, 67, 45, 80]
number = 1
for score in scores:
    if score >= 60:
        print('%d의 학생은' %(number), score, '이므로 합격 입니다.')
    else:
        print('%d의 학생은' %(number), score, '이므로 불합격 입니다.')
    
    number += 1

1의 학생은 90 이므로 합격 입니다.
2의 학생은 25 이므로 불합격 입니다.
3의 학생은 67 이므로 합격 입니다.
4의 학생은 45 이므로 불합격 입니다.
5의 학생은 80 이므로 합격 입니다.

학생들 점수의 평균을 구하여 평균점수를 기준으로 합격, 불합격 보여주기

In [68]:
scores = [90, 25, 67, 45, 80]
# 학생 번호
number = 1
# 평균 점수
avg = 0.0
# 학생들의 점수 총점
# total = 0
# total = np.sum(scores)
# print(total)

import numpy as np
avg = np.mean(scores)

print('학급의 평균 점수는', avg, '입니다.')
print()
for score in scores:
    if score >= avg:
        print('%d의 학생은 %d이므로 합격 입니다.' %(number, score))
        number += 1
    else:
        print('%d의 학생은 %d이므로 불합격 입니다.' %(number, score))
        number += 1

학급의 평균 점수는 61.4 입니다.

1의 학생은 90이므로 합격 입니다.
2의 학생은 25이므로 불합격 입니다.
3의 학생은 67이므로 합격 입니다.
4의 학생은 45이므로 불합격 입니다.
5의 학생은 80이므로 합격 입니다.

In [1]:
var01 = [1,2,3,4]
# var02는 정제해서 넣을 list (빈 리스트 하나 만들어놓기!)
var02 = []

for i in var01:
    var02.append(i * 5)
    
print(var02)

[5, 10, 15, 20]

## 파이썬의 listed for문

In [2]:
var01 = [1,2,3,4]
var02 = []

# for문이 뒤에, 결과값이 앞에
var02 = [i * 5 for i in var01]
var02

[5, 10, 15, 20]

In [3]:
var01 = [1,2,3,4]
var03 = [7]

var03 = [i * 5 for i in var01]
var03

[5, 10, 15, 20]

In [15]:
# 위의 소스에서 짝수인 경우에만 5를 곱하는 리스트 만들기
var01 = [1,2,3,4]
var02 = []

# for문이 뒤에, 결과값이 앞에, print하는 게 제일 앞에 있으면 됨! (그 뒤에 계속 쭉쭉쭉!!!)
var02 = [i * 5 for i in var01 if (i % 2 == 0)]
var02

[10, 20]

In [30]:
# 구구단 결과만 리스트로 만들기 (2단 ~ 9단)
var01 = [i * j for i in range(2,10) for j in range(1,10)]
# end는 print하는 곳에 사용해야 함!!!
print(var01, end = "")
print(var01)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81][2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [35]:
# 60점 이상의 학생 점수만 List로 만들어 평균 구하기
import numpy as np
scores = [90, 25, 67, 45, 80]
passList = [score for score in scores if score >= 60]
print(passList)

print(np.mean(passList))
print("합격한 학생들의 평균 점수는 %.2f입니다" %np.mean(passList))

[90, 67, 80]
79.0
합격한 학생들의 평균 점수는 79.00입니다