# MySQL 연결

In [1]:
!pip install pymysql

Requirement already satisfied: pymysql in /Users/parksunghun/opt/anaconda3/lib/python3.8/site-packages (1.0.2)

In [2]:
import pymysql

In [3]:
# MySQL Connection

conn = pymysql.connect(host="192.168.0.5", user="root", passwd="qwer1234", db="education", charset="utf8")

In [4]:
# 이제 연결
curs = conn.cursor()

In [5]:
sql = "select * from student"
curs.execute(sql)

4

In [6]:
# Data Fetch
rows = curs.fetchall()
print(rows)

(('S001', '박소명', '컴퓨터공학과', '123-4567', None), ('S002', '최민국', '컴퓨터공학과', '234-5678', None), ('S005', '김상진', '사학과', '567-8901', None), ('S006', '황정숙', '사학과', '678-9012', None))

In [7]:
# list로 변환
rowList = list(rows)
print(rowList)

[('S001', '박소명', '컴퓨터공학과', '123-4567', None), ('S002', '최민국', '컴퓨터공학과', '234-5678', None), ('S005', '김상진', '사학과', '567-8901', None), ('S006', '황정숙', '사학과', '678-9012', None)]

In [8]:
print(rowList[0][1])

박소명

In [9]:
conn.close()

---

# select의 내용을 dataframe으로 보기

In [10]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/parksunghun/opt/anaconda3/lib/python3.8/site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in /Users/parksunghun/opt/anaconda3/lib/python3.8/site-packages (from sqlalchemy) (1.0.0)

In [11]:
import pandas as pd
from sqlalchemy import create_engine

In [12]:
engine = create_engine("mysql+pymysql://root:qwer1234@192.168.0.5:3306/education?", convert_unicode=True)
conn = engine.connect()

In [13]:
# pandas에서 sql 가져오는 것!
data = pd.read_sql_table('student', conn)
data

  scode sname   sdept    sphone saddress
0  S001   박소명  컴퓨터공학과  123-4567     None
1  S002   최민국  컴퓨터공학과  234-5678     None
2  S005   김상진     사학과  567-8901     None
3  S006   황정숙     사학과  678-9012     None

In [14]:
conn.close()

# dataFrame을 Database로 Insert하기

In [20]:
column = ['rank', 'title']
movies = pd.read_csv("./Data/DaumList.csv")
movies.columns = column
movies.head()

   rank        title
0     1       블랙 위도우
1     2         발신제한
2     3         크루엘라
3     4  콰이어트 플레이스 2
4     5           랑종

In [21]:
engine = create_engine("mysql+pymysql://root:qwer1234@192.168.0.5:3306/daum?", convert_unicode=True)
conn = engine.connect()

In [22]:
# table 이름, 연결, 만약 있으면 추가
movies.to_sql(name='daumlist', con=engine, if_exists='append', index=False)

In [23]:
conn.close()